* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  height: 140vh;
}

.navbar {
  background-color: #5b5d5f !important;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* Transaction page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}
/* Transaction page */

/* antd icons */

.switch-icon {
  border: 1px solid rgba(0, 0, 0, 0.656);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 2opx;
  cursor: pointer;
}

.active-icon {
  color: black;
}

.inactive-icon {
  color: gray;
}
